
       html, body { height: 100%; margin: 0; padding: 0; font-family: Sans-serif}
       main {height:100%;display: flex;flex-flow: row nowrap}
       #nav {
        width:25%;
        background-color: #95DEE3;
       }
       #map {
        height:100%;
        width:75%;
       }
       #ul{
        padding: 0;
        list-style: none;
        position: relative;
       }
       #li{
        border-bottom:1px solid #fff;
        padding:5px;
        color:#2F4F4F;
       }
       #li:hover{
        cursor:pointer;
       }
       #panoroma{
        width:600px;
        height:400px;
       }
       #panel{
        position: absolute;
        left:0;
        top:0;
        width:100%;
        height:110%;
        background-color: #95DEE3;
        display:none;
        z-index: 1000;
        padding:15px;
        border:3px dashed #92B6D5;
       }

       .close {
        position: absolute;
        left:95%;
        top:10px;
        font-size: 24px;

       }
       .description{
        padding: 0;
        list-style: none;
       }
       .close:hover{
        cursor: pointer;
       }

       button {
        box-shadow: 2px 2px 4px rgba(0,0,0,0.6);
        border-radius: 5px;
        font-weight: bolder;
        width:120px;
        height:60px;
        font-size:1.5rem;
        margin-left:20px;
       }

       form {
        padding:10px;
        margin-top:15px;
       }
       form input{
        width:40%;
        padding:5px;
       }

        .sandwich{
            display:none;
        }

       /*.
       #alert{
        position:fixed;
        left:35%;
        top:40%;
        width:400px;
        height:50px;
        background-color:#f44336;
        z-index: 1000;
        color:#fff;
        text-align: center;
        line-height: 50px;
        display: none;
       }*/

